<!-- <h1>All Published Albums Of all Users are <%=@albums.count%></h1> -->
<h1 class="mt-2">All Published Albums</h1>
<div class="row">
  <% @albums.each do |album| %>
  <%= render 'shared/album', album: album %>
  <%end%>
</div>