<h1>Photos</h1>
<div class="row">
  <%@album.photos.each do |image|%>
  <div class="col-md-3">
    <div class="card">
      <div class="card-header">
        <div class="col">
          <%= link_to image do %>
          <i class="fas fa-expand-wide green"></i>
          <%end %>
        </div>
        <div class="col">
          <%= button_to delete_image_albums_path(id: image.id),method: :delete, style:"border:none;float:right;",data: { confirm: "Are you sure?" } do %>
          <i class="fas fa-times right"></i>
          <%end%>
        </div>
      </div>
      <div class="card-body">
        <%= image_tag(image,class:"card-top-img img-fluid") %>
      </div>
    </div>
  </div>
  <%end%>
</div>