<%if @unpublished_albums.present? %>
<h1>Draft Albums</h1>
<%end%>

<div class="row">
  <% @unpublished_albums.each do |album| %>
  <%= render 'albums/album', album: album %>
  <%end%>
</div>

<%if @published_albums.present? %>
<h1>Published Albums </h1>
<%end%>

<div class="row">
  <% @published_albums.each do |album| %>
  <%= render 'albums/album', album: album %>
  <%end%>
</div>
